@import "index.scss";
.belajar {
  height: fit-content;
  padding: 0 100px;
  margin-top: 100px;
  .text-belajar {
    text-align: center;
    h1 {
      font-size: 30px;
      &::before {
        bottom: 20%;
        height: 25%;
      }
    }
    p {
      font-size: 18px;
      line-height: 30px;
    }
  }
}
@media screen and (max-width: 576px) {
  .belajar {
    padding: 0 20px;
    .text-belajar {
      h1 {
        font-size: 18px;
      }
      p {
        font-size: 14px;
      }
    }
  }
}
