*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
body {
  width: 100vw;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
.btn {
  background: rgb(255, 201, 25);
  font-size: 16px;
  color: #023047;
  border-radius: 20px;
  font-weight: 500;
  border: none;
}
.hidden-text {
  overflow: hidden;
  position: relative;
}

.col-1 {
  flex: 1;
}
.col-2 {
  flex: 2;
}

.garis-bawah {
  position: relative;
  width: fit-content;
  margin: auto;
  &::before {
    content: "";
    position: absolute;
    bottom: 23px;
    left: 0;
    height: 20%;
    width: 100%;
    background: #ffc919;
    z-index: -1;
  }
}
